<section class="TodoSection">
  <div class="TodoSectionTitle">
    <h2 class="TodoSectionTitle--text"><%= section_title %></h2>
    <p class="TodoSectionTitle--remainingCount"><%=todos_completed%>/<%= total_todos%></p>
  </div>
  <ul>
    <% todos.each do |todo| %>
      <li class="TodoItem">
        <label class="TodoItem-container">
          <%= form_with(url: "/todos/#{todo.id}",method: "put") do%>
              <input
                class = <%= todo.completed ? "TodoItem-checkbox-strikethrough" : "TodoItem-checkbox" %>
                name = "completed"
                type="checkbox" <%= todo.completed ? "checked":"" %>
                onclick="this.form.submit()"
              />
                <span><%= todo.todo_text %></span>
          <%end%>
          <% if show_due_date %>
            <p class="TodoItem-remainingDate"><%= todo.due_date.to_s(:short) %></p>
          <% end %>
          <a class="TodoItem-delete" href="Javascript:void(0)">
            <%= form_with(url: "/todos/#{todo.id}", method: "delete") do%>
              <input type="image" src="/assets/bin.svg" alt="delete" class="TodoItem-bin"  onclick="this.form.submit()"/>
            <%end%>
          </a>


        </label>
      </li>
    <% end %>
  </ul>
</section>
