<section class="TodoSection">
  <div class="TodoSectionTitle">
    <h2 class="TodoSectionTitle--text"><%= section_title %></h2>
    <p class="TodoSectionTitle--remainingCount"><%=todos_completed%>/<%=todos.count%></p>
  </div>
  <ul>
    <% todos.each do |todo| %>
      <li class="TodoItem">
        <label class="TodoItem-container">
          <% if todo.completed %>
            <input class="TodoItem-checkbox Strikethrough" type="checkbox" checked/><span><%= todo.todo_text %></span>
          <% else %>
            <input class="TodoItem-checkbox" type="checkbox"/><span><%= todo.todo_text %></span>
          <% end %>
          <% if show_due_date %>
            <p class="TodoItem-remainingDate"><%= todo.due_date.to_s(:short) %></p>
          <% end %>
          <a class="TodoItem-delete" href="Javascript:void(0)"><%= image_tag 'bin.svg', :class =>"TodoItem-bin" %></a>
        </label>
      </li>
    <% end %>
  </ul>
</section>
